/node_modules
/public/hot
/public/local
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.production
.phpunit.result.cache
.DS_Store
.vscode
.composer.lock
.package-lock.json
.ide_helper.php
auth.json
npm-debug.log
/.idea
/.vscode